body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

h1, h2 {
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #ddd;
    border-radius: 3px;
    margin-left: 10px;
}

.content {
    display: flex;
    gap: 20px;
}

.sidebar {
    width: 200px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    color: #333;
    text-decoration: none;
}

main {
    flex: 1;
}

.note-form, .notes-list, .auth-form, .form-container {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#category, #message, .auth-form input, .form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.auth-form input{
    max-width: 95%;
}

#message {
    height: 100px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    background: #555;
}

#notes {
    list-style-type: none;
    padding: 0;
}

#notes li {
    background: #f4f4f4;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 3px;
}

.auth-form {
    max-width: 400px;
    margin: auto;
}

.auth-form input {
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.add-input {
    width: auto;
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 0.9em;
}

p {
    text-align: center;
}

.notification {
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: #333;
}

.notification i {
    margin-right: 5px;
}

.form-toggle {
    margin-bottom: 20px;
}

.form-toggle label {
    margin-right: 10px;
}

.user-section {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.note {
    background: #f4f4f4;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}

.note h3 {
    margin-top: 0;
    color: #333;
}

